<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New user</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>

<!--НАВИГАЦИОННАЯ ПАНЕЛЬ-->
<nav class="navbar navbar-expand-md sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link disabled text-white"><b>
                    <span sec:authentication="name"></span>
                </b></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link disabled text-white">with roles:</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link disabled text-white">
                    <span sec:authentication="principal.authorities"></span>
                </a>
            </li>
            </p>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <button class="btn text-white" type="submit" ><a href="/logout" class="text-secondary">Logout</a></button>
        </form>
    </div>
</nav>



<!--БОКОВАЯ ПАНЕЛЬ-->
<div class="container-fluid">
    <div class="row bg-light">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse bg-white">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <!--                    БОКОВОЙ АДМИН-->
                    <li class="nav-item">
                        <a class="nav-link active bg-primary text-white" href="#">
                            Admin <span class="sr-only"></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="user_info">
                            <span data-feather="file"></span>
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <main role="main" class="bg-light col-10">
            <br>
            <!--            <canvas height="20"></canvas>-->
            <h3>Admin panel</h3>
            <div class="btn-group btn-group-lg">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Users table</a>

                    </li>
                    <!--                    НОВЫЙ ЮЗЕР-->
                    <li class="nav-item">
                        <a class="nav-link active">New user</a>
                    </li>
                </ul>
            </div>
            <br>


            <!-- Content here -->
            <div th:switch="${users}">
                <ul class="list-group " >
                    <li class="list-group-item bg-light"><h5>Add new user</h5></li>
                </ul>

                <ul class="list-group">
                    <form th:action="@{/admin/create_user}" th:object="${user}" method="post">
                        <ul class="list-group">
                            <li class="list-group-item">

                                <div class="form-group mx-auto" style="width: 200px;">
                                    <label for="name" class="col-form-label col-12 text-center"><b>Name:</b></label>
                                    <input type="text" th:field="*{name}" class="form-control" id="name">
                                </div>

                                <div class="form-group mx-auto" style="width: 200px;">
                                    <label for="lastname" class="col-form-label col-12 text-center"><b>Lastname:</b></label>
                                    <input type="text" th:field="*{lastname}" class="form-control" id="lastname"  >
                                </div>

                                <div class="form-group mx-auto" style="width: 200px;">
                                    <label for="age" class="col-form-label col-12 text-center"><b>Age:</b></label>
                                    <input type="text" th:field="*{age}" class="form-control" id="age">
                                </div>

                                <div class="form-group mx-auto" style="width: 200px;">
                                    <label for="email" class="col-form-label col-12 text-center"><b>Email:</b></label>
                                    <input type="text" th:field="*{email}" class="form-control" id="email">
                                </div>

                                <div class="form-group mx-auto" style="width: 200px;">
                                    <label for="password" class="col-form-label col-12 text-center"><b>Password:</b></label>
                                    <input type="text" th:field="*{password}" class="form-control" id="password">
                                </div>

                                <div class="form-group mx-auto" style="width: 200px;">
                                <label for="roles" class="col-form-label col-12 text-center"><b>Roles</b></label>
                                <select multiple class="form-control form-control-sm text-center" id="roles" name="role"
                                        size="2" required>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                    <option value="ROLE_USER" selected>USER</option>
                                </select>
                                <br>
                                <button th:type="submit"  style="width: 200px;" class="btn btn-success" value="Add new user">
                                    Add new user
                                </button>
                                </div>
                            </li>
                        </ul>
                    </form>
                </ul>
            </div>

        </main>
    </div>
</div>
</body>
</html>










