<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Spring Security Example</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <!--НАВИГАЦИОННАЯ ПАНЕЛЬ-->
    <nav class="navbar navbar-expand-md sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link disabled text-white"><b>
                        <span sec:authentication="name"></span>
                    </b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled text-white">with roles:</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled text-white">
                        <span sec:authentication="principal.authorities"></span>
                    </a>
                </li>
                </p>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <button class="btn" type="submit"><a href="/logout" class="text-secondary">Logout</a></button>
            </form>
        </div>
    </nav>



    <!--БОКОВАЯ ПАНЕЛЬ-->
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse bg-white">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <!--                    БОКОВОЙ АДМИН-->
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <span data-feather="file"></span>
                                Admin
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link active bg-primary text-white" href="#">
                                User <span class="sr-only"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-light">
                <canvas height="20"></canvas>

                <h3>User information-page</h3>



                <!-- Content here -->
                <div class col-md-9>
                    <!--                <a class="list-group-item list-group-item-action list-group-item-white"><h5>All users</h5>-->
                    <!--                </a>-->
                    <ul class="list-group" >
                        <li class="list-group-item bg-light"><h5>About user</h5></li>
                    </ul>


                    <ul class="list-group">
                        <li class="list-group-item">
                            <table class="table table-striped bg-white col-md-12">

                                <thead>
                                <div class="container bg-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                </div>
                                </thead>
                                <tbody>
                                <!--                            <div th:each="user : ${users}">-->
                                <tr>
                                    <td th:utext="${user.id}">id</td>
                                    <td th:utext="${user.name}">name</td>
                                    <td th:utext="${user.lastname}">lastname</td>
                                    <td th:utext="${user.age}">age</td>
                                    <td th:utext="${user.email}">email</td>
                                    <td th:utext="${#strings.setJoin(user.getAuthorities, ',')}">role</td>
                                </tr>
                                <!--                            </div>-->

                                </tbody>

                            </table>

                        </li>

                    </ul>
                </div>

            </main>
        </div>
    </div>
</div>



<div sec:authorize="hasRole('ROLE_USER')">
    <nav class="navbar navbar-expand-md sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="collapse navbar-collapse" id="navbarCollapseUser">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link disabled text-white"><b>EMAIL</b></a>
                    <!--                    <span sec:authentication="name"></span> with roles: <span sec:authentication="principal.authorities"></span>-->
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled text-white">with roles:</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled text-white">ROLE</a>
                </li>
                </p>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <button class="btn" type="submit"><a href="/logout" class="text-secondary">Logout</a></button>
            </form>
        </div>
    </nav>



    <!--БОКОВАЯ ПАНЕЛЬ-->
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenuUser" class="col-md-3 col-lg-2 d-md-block sidebar collapse bg-white">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <!--                    БОКОВОЙ АДМИН-->
                        <li class="nav-item">
                            <a class="nav-link active bg-primary text-white" href="#">
                                User <span class="sr-only"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-light">
                <canvas height="20"></canvas>

                <h3>User information-page</h3>



                <!-- Content here -->
                <div class col-md-9>
                    <!--                <a class="list-group-item list-group-item-action list-group-item-white"><h5>All users</h5>-->
                    <!--                </a>-->
                    <ul class="list-group" >
                        <li class="list-group-item bg-light"><h5>About user</h5></li>
                    </ul>


                    <ul class="list-group">
                        <li class="list-group-item">
                            <table class="table table-striped bg-white col-md-12">

                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!--                            <div th:each="user : ${users}">-->
                                <tr>
                                    <td th:utext="${user.id}">id</td>
                                    <td th:utext="${user.name}">name</td>
                                    <td th:utext="${user.lastname}">lastname</td>
                                    <td th:utext="${user.age}">age</td>
                                    <td th:utext="${user.email}">email</td>
                                    <td th:utext="${#strings.setJoin(user.getAuthorities, ',')}">role</td>
                                </tr>

                                </tbody>

                            </table>

                        </li>

                    </ul>
                </div>

            </main>
        </div>
    </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="dashboard.js"></script>


















<!--<h1 th:text="'Hello, ' + ${user.name} + '! Welcome to spring boot user page!'">...</h1>-->
<!--<br>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th th:width="50">Id</th>-->
<!--        <th th:width="100">Name</th>-->
<!--        <th th:width="100">Lastname</th>-->
<!--        <th th:width="50">Age</th>-->
<!--        <th th:width="100">Email</th>-->
<!--        <th th:width="100">Password</th>-->
<!--        <th th:width="100">Role</th>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td th:utext="${user.id}">id</td>-->
<!--        <td th:utext="${user.name}">name</td>-->
<!--        <td th:utext="${user.lastname}">lastname</td>-->
<!--        <td th:utext="${user.age}">age</td>-->
<!--        <td th:utext="${user.email}">email</td>-->
<!--        <td th:utext="${user.password}">pass</td>-->
<!--        <td th:utext="${#strings.setJoin(user.getAuthorities, ',')}">role</td>-->
<!--    </tr>-->
<!--</table>-->
<!--<br>-->

<!--<th:authorize access="isAuthenticated()">-->
<!--    <h4><a href="/logout">Logout</a></h4>-->
<!--</th:authorize>-->

</body>
</html>